@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.active {
    position: relative;
    text-decoration: none;
    transition: background-color 10s ease;
    vertical-align: middle;
}

.notactive {
    position: relative;
    text-decoration: none;
    transition: background-color 10s ease;
    vertical-align: middle;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; /* Adjust the width of the underline */
    height: 2.9px;
    background-color: #E63946; /* Adjust the color of the underline */
    transition: width 0.3s ease; /* Add transition for width property */
}

.notactive::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%; /* Adjust the width of the underline */
    height: 2.9px;
    background-color: #E63946; /* Adjust the color of the underline */
    transition: width 0.3s ease; /* Add transition for width property */
}

.notactive:hover::after {
    width: 40%;
}

/* Dark Mode Navigation */
.active2 {
    position: relative;
    text-decoration: none;
    transition: background-color 10s ease;
    vertical-align: middle;
}

.notactive2 {
    position: relative;
    text-decoration: none;
    transition: background-color 10s ease;
    vertical-align: middle;
}

.active2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; /* Adjust the width of the underline */
    height: 2.9px;
    background-color: #45789D; /* Adjust the color of the underline */
    transition: width 0.3s ease; /* Add transition for width property */
}

.notactive2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%; /* Adjust the width of the underline */
    height: 2.9px;
    background-color: #45789D; /* Adjust the color of the underline */
    transition: width 0.3s ease; /* Add transition for width property */
}

.notactive2:hover::after {
    width: 40%;
}